# (1) Write a Python Program to accept the details of a student like name, roll number and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output:
Name: Anisha
Roll No: 21
Mark: 78

In [33]:
#sample input
name=input('Enter the name : ')
roll_number=int(input('Enter the roll number : '))
mark=int(input('Enter the mark : '))

Enter the name : Anisha
Enter the roll number : 21
Enter the mark : 78

In [35]:
#sample output
print("Name:",name)
print("Roll NO:" ,roll_number)
print("Mark:" ,mark)

Name: Anisha
Roll NO: 21
Mark: 78

(Q2)Write a Python program to convert temperatures to and from Celsius
Fahrenheit. 
[Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit =41
Sample output: Temperature in Celsius =5

In [ ]:
#Celsius = (Fahrenheit – 32) * 5/9
#Fahrenheit = (Celsius * 9/5) + 32

In [3]:
#Program to Convert Celsius To Fahrenheit
c = float(input("Enter temperature in celsius: "))
f= (c* 9/5) + 32
print('%.2f Celsius is: %0.2f Fahrenheit' %(c, f))

Enter temperature in celsius: 5
5.00 Celsius is: 41.00 Fahrenheit

In [4]:
#Program to Convert Fahrenheit to Celsius
f = float(input("Enter temperature in fahrenheit: "))
c= (f - 32) * 5/9
print('%.2f Fahrenheit is: %0.2f Celsius' %(f, c))

Enter temperature in fahrenheit: 41
41.00 Fahrenheit is: 5.00 Celsius

# (Q3) Write a Python program to accept two numbers from the user and display its product.

In [30]:
a=int(input('Enter first number'))
b=int(input('Enter second number'))
c=a*b
print(c)

Enter first number7
Enter second number8
56

(Q4)Write a Python program to accept a string “Learn Python by Developing a
Website” and display the string like “Learn**Python** by Developing a
**Website**”

In [47]:
start = "\033[1m"
end = "\033[0;0m"
print ("Learn" + start + "Python" + end + " by Developing a "+start + "Website" + end )

LearnPython by Developing a Website

# (Q5)Write a Python program to accept the radius of a circle and display its area.

In [38]:
import math
r=int(input('enter the radious of circle: '))
print('Area is ',math.pi*r**2)

enter the radious of circle: 5
Area is  78.53981633974483

(Q6)Python program to insert a number to any position in a list (Get the number to
be inserted and position from the user)

In [5]:
print("Enter 5 Elements of List: ")
nums = []
for i in range(5):
    nums.insert(i, input())
print("Enter an Element to Insert at End: ")
elem = input()
nums.append(elem)
print("\nThe New List is: ")
print(nums)

Enter 5 Elements of List:
1
9
cat
True
7
Enter an Element to Insert at End:
4

The New List is:
['1', '9', 'cat', 'True', '7', '4']

(Q7)Write a program to rename a key city to a location in the following dictionary.
sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}

In [7]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

sample_dict['location'] = sample_dict.pop('city')
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

(8) Write a Python program to change Brad’s salary to 8500 in the following
dictionary.
sample_dict = {
'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}

In [6]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 6500}
}

sample_dict['emp3']['salary'] = 8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

(Q9)Write a program to copy elements 43 and 54 from the following tuple into a
new tuple. Given:
tuple1 = (10, 20, 43, 54, 56, 68)

In [3]:
tuple1=10, 20, 43, 54, 56, 68
print(tuple1)
tuple1 = 43,54
print(tuple1)

(10, 20, 43, 54, 56, 68)
(43, 54)

(Q10)Counts the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)

In [1]:
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)
print(tuple1.count(50))

3